@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md text-xs md:text-sm font-bold transition-colors ease-in-out duration-300 select-none;
  }

  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600;
  }

  .btn-secondary {
    @apply bg-transparent border border-gray-200 text-gray-900 hover:bg-gray-100;
  }

  .btn-danger {
    @apply bg-transparent border border-gray-200 text-red-600 hover:bg-red-50 hover:border-red-600;
  }

  .slider-btn {
    @apply absolute top-1/2 transform -translate-y-1/2 h-12 w-12 rounded-full bg-gray-200 p-4 cursor-pointer hover:bg-gray-300 transition ease-in-out;
  }

  .slider-btn-rotate {
    @apply transform rotate-180 -translate-y-1/2;
  }

  .t-row {
    @apply border-b border-gray-200;
  }

  .scroll-snap-container-x {
    scroll-snap-type: x mandatory;
  }

  .scroll-snap-child {
    scroll-snap-align: start;
  }

  .smooth-scroll {
    scroll-behavior: smooth;
  }

  .card-wrapper {
    @apply rounded-3xl h-40 md:h-56 min-w-56 md:min-w-88 px-4 flex flex-col items-center select-none scroll-snap-child;
  }

  .bg-gradient {
    background: linear-gradient(45deg, rgb(76,111,255) 0%, rgb(214,101,255) 100%); 
  }

  .max-h-screen-chat {
    max-height: calc(100vh - 6rem);
  }

  .message-bg {
    background: #E3F6FC;
  }

  .message-bg span {
    color: #6588DE;
  }
  
  .message-bg-self {
    background: #F3BA4A;
  }

  .message-bg-self span {
    color: #FDFDFE;
  }

  .message-max-w {
    max-width: 20rem;
  }

  .chat-input-btn {
    @apply h-3/4 flex items-center justify-center px-4 font-semibold rounded-full;
  }
}
